@font-face {
        font-family: "BankGothic";
        src: url("../fonts/bankgothic-regular.ttf");
}

.bank-gothic h1,h3{
  font-family: "BankGothic", Arial;
  font-weight:normal;
  font-style:normal;
}
