.contact-card{
	border-style: solid;
	border-width: thin;
	border-color: black;
	margin: 1em 1em 1em 1em;
}
.cc-noborder {
        border-style: none;
}
.h1-center-aligned {
	text-align: center;
}
h3 {
	text-align: center;	
}
.span-center-aligned {
	text-align: center;
}
