<div class="contact_card">
	<div class="d-flex flex-row">
		<div class="picture">
		</div>
		<div class="specialty">
		<div>
	</div>
	<div class="d-flex flex-coloumn">
		<div class="name_section">
			<h3>Name:</h3>
			<span class="name"></span>
		</div>
		<div class="phone_number_section">
			<h3>Phone Number:</h3>
			<span class="phone_number"></span>
		</div>
		<div class="email_address">
			<h3>Email Address:</h3>
			<span class="email_address"></span>
		</div>
	</div>
</div>
