	<div class="d-flex flex-row justify-content-around contact_details_section">
		<img class="picture">
		</img>
		<div class="specialty">
		</div>
	</div>
	<div class="d-flex flex-row justify-content-around flex-wrap">
		<div class="contact_details_section name_section">
			<h3>Name:</h3>
			<span class="name"></span>
		</div>
		<div class="contact_details_section phone_number_section">
			<h3>Phone Number:</h3>
			<a class="phone_number"></a>
		</div>
		<div class="contact_details_section email_address_section">
			<h3>Email Address:</h3>
			<a class="email_address"></a>
		</div>
	</div>
