	<div class="d-flex flex-column justify-content-around flex-wrap general-inquiries">
			<span class="span-center-aligned address"></span>
			<span class="span-center-aligned"><a class="phone_number"></a></span>
			<span class="span-center-aligned"><a class=" email_address"></a></span>
	</div>
